html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f8f9fb;
  overflow: hidden;
  user-select: none;
  cursor: move;

  font-family: Helvetica, sans-serif;
}

#loading {
  width: 100vw;
  height: 100vh;

  position: absolute;
  z-index: 9999;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: 1s;
}

#loading-status {
  margin-top: 1em;
  color: white;
  font-size: 4em;
}

.loading-message {
  color: #fff;
  font-size: 2vw;
  width: 30%;
  margin-top: 1.5em;
  text-align: center;
}

#logo-piknic {
  stroke: white;
  width: 30%;
}

/* background layer */
.container {
  position: relative;

  width: 100%;
  transition: transform 0.5s;
  cursor: move;
}

#landscape {
  width: 100%;
}

.controls {
  position: fixed;
  z-index: 9999;

  display: flex;
}

.controls.left {
  left: 1.5vw;
  top: 1.5vw;
}

.controls.left > svg {
  border-radius: 100%;
}

.controls.right {
  right: 1.5vw;
  top: 1.5vw;
}

.controls > svg {
  min-width: 50px;
  min-height: 50px;
  background-color: transparent;

  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 4px;
  border: 1px solid black;
  cursor: pointer;
}

.controls .button-bg {
  fill: #ffffff;
}

.controls .button-line {
  fill: none;
  stroke: #000000;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

/* svg layer */
#svg-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;

  width: 100%;
}

/* pop-up detail box styling */
#details {
  width: 14vw;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  color: #160005;
  padding: 0.9vw;

  position: absolute;
  z-index: 5000;

  transform-origin: top left;
  transform: scale(0);
  transition: transform 0.3s;
  text-align: center;

  user-select: none;
  cursor: default;
}

#details > span {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#details.on {
  transform: scale(1);
}

#details.off {
  transform: scale(0);
}

#details img {
  width: 100%;
  height: auto;

  pointer-events: none;
}

#details .header {
  font-weight: 900;
  margin-top: 0.7vw;
  font-size: 0.85vw;
  line-height: 1.5em;
}

#details .header .italic {
  font-style: italic;
}

#details .header .normal {
  font-style: normal;
}

#details hr {
  border: 0;
  height: 1px;
  background-color: black;
  margin: 0.7vw 0 0.7vw 0;
}

#details .trivia {
  display: flex;
  justify-content: center;
  margin-top: 0.7vw;
  font-size: 0.75vw;
}

#details .trivia div {
  margin: 0 2%;
}

#details .trivia svg {
  width: auto;
  height: 10px;
}

#details .icon path {
  fill: black;
}

#details .desc {
  font-size: 0.75vw;
  line-height: 1.5em;
  word-break: keep-all;
}

#details .closeButton {
  fill: none;
  stroke: #000000;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

#details #closeButton {
  position: absolute;
  top: 0;
  right: 0;

  background-color: #fff;
  border: 1px solid black;

  width: 1.7vw;
  height: 1.7vw;
  cursor: pointer;
}

.container svg polygon,
path {
  fill: transparent;
  transition: 0.2s;
}

.container svg polygon:hover {
  fill: rgba(0, 0, 0, 0.5) !important;
  cursor: default;
}
.container svg polyline:hover {
  fill: rgba(0, 0, 0, 0.5) !important;
  cursor: default;
}
.container svg path:hover {
  fill: rgba(0, 0, 0, 0.5) !important;
  cursor: default;
}

.ANEMONE_X_HYBRIDA_PAMINA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.ASTER_LITTLE_CARLON {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.ASTER_ANELLUS_SONORA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.CRAMBE_CORDIFOLIA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.DORYCNIUM_HIRSUTUM {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.ECHINACEA_PURPUREA_FA_PM {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.ECHINOPS_BANNATICUS {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.ERYNGIUM_ALPINUM {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.GA_TD {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.GERANIUM_ROZANNE {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.GILLENIA_TRIFOLIATA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.HELENIUM_MORHEIM_BEAUTY {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.KNAUTIA_MACEDONICA_O_H {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.LIATRIS_SPICATA_LIMONIUM_LATIFOLIUM {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.LOBELIA_YEDRARIENSIS {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.LYNCHNIS_CHALCEDONIA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.LYSIMACHIA_EPHEMERUM {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.MOLINIA_CAERULEA_ED {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.MONARDA_BRADBURIANA_NG {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.PANICUM_SHENANDOAH {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.PAPAVER_ORIENTALE_KARINE {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.PENSTEMON_DIGITALIS_KARINE {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.PHLOMIS_RUSSELIANA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SCUTELLARIA_INCANA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SEDUM_MATRONA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SEUNUM_WALLICHIANUM {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SERRATULA_SEOANEI {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SESLERIA_AUTUMNALIS {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SPOROBOLUS_HETEROLEPSIS {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.STACHYS_OFFICINALIS_ROSEA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SUCCISA_PRATENSIS {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.VERONICASTRUM_VIRGINICUM_ERICA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.AC_CR {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.AL_H {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.AM_T {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.AT_J {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.BO_CU {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.BRM_L__x002B__MOMO {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.CH_HI_RO {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.EC_PA__x002B__ST_TE {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.ER_AL {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.GE_PA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.HE_MO {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.LY_EP {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.LY_SA_BL {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.MO_x002B_CA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.NE_SU {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.PA_SH {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.PA_OR {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.PE_VI {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.PE_HU {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.PER {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.PY_MU {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SA_DE {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SA_RED {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SC_CO__x002B__LI_LA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SC_IN {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SE_MA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SE_AU {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.ST_HU {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.TH_DI__x002B__GE_AS {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SA_VE_PU {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.VE_VI_ER {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SP_HE {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.AC_FE {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.AG {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.AM_CA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.AM_HUB {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.AS_IN {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.AS_TA_JI {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.DI_CA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.EC_PA_HU_DA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.FE_MA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.IM_CY {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.IR_CH_BL {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.LY_SA_SW {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.MO_CA_MO__x002B__LI_LA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.MO_BR {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.PE_AM_AL {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.RU_HU {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SC_CO {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SE_CO_RE {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.AN_WI {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.AS_TA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.AS_MA_RO {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.BR_ME_LI {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.CA_LE {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.CI_SI_X_JA_CO {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.CL_HE_CH_PU {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.DA_PE {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.GE_SP {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.IR_SI_PE_BL {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.LO_TU {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.LY_SA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.MY_GA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.PI_MA {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.SE_SE {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.TR_FO {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.st0 {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.st1 {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.st2 {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.st3 {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
.st4 {
  fill: none;
  stroke: transparent;
  stroke-miterlimit: 10;
}
